/* Eksternal CSS : Kode CSS yang ditulis terpisah dengan kode HTML. */
*{
    padding: 0;
    margin: 0;
    font-family: "Maven Pro", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid hotpink;
    color: hotpink;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

nav .nav-list li{
    display: inline-block;
}

nav .nav-list li a{
    display: inline-block;
    color: #eee;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}

nav .nav-list li:not(:last-child) a:hover{
    color: hotpink;
    transition: .4s;
}

nav .nav-list li.btn a{
    display: inline-block;
    background: transparent;
    border: 2px solid hotpink;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: hotpink;
    font-weight: 500;
}

nav .nav-list li.btn:hover a{
    background: hotpink;
    color: white;
    border: 2px solid transparent;
    transition: .4s;
}

.nav-list .active{
    color: hotpink;
}

span{
    color: hotpink;
}

h4{
    margin: 20px 0px 20px;
    font-size: 50px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 30px;
    margin-bottom: 100px;
    font-weight: bold;
    text-align: center;
}

.about-text p{
    color: white;
    text-align: justify;
    line-height: 0;
    font-size: 25px;
    margin-bottom: 45px;
}

.about-text table{
    color: white;
    text-align: justify;
    line-height: 0;
    font-size: 25px;
    margin-bottom: 45px;
}

.container{
    padding-top: 190px;
}

.container .hero-text{
    margin-bottom: 40px;
}

.container .hero-text h1{
    color: white;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;
}

.container .hero-text h3{
    color: #eee;
    font-weight: 400;
    font-size: 30px;
}

.edu, .hobby{
    background-color: rgb(33, 28, 28);
    width: 100%;
    padding: 100px 50px;
}

.title h2{
    color: white;
    font-size: 60px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #2f2f2f;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}

.card h5{
    font-size: 25px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: rgb(255, 255, 255);
}

.card img{
    margin-left: 100px;
    margin-bottom: -20px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
}

.pra p{
    color: #ffffff;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    text-align: justify;
}

.card .button{
    background-color: hotpink;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: transform .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid hotpink;
    cursor: pointer;
}

.contactme{
    width: 100%;
    height: 290px;
    background: rgb(33, 28, 28);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contactme p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contactme .button-two{
    background-color: hotpink;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.contactme .button-two:hover{
    background-color: transparent;
    border: 2px solid hotpink;
    cursor: pointer;
}